.App {
  display: flex;
  justify-content: center;
}
.list {
  margin: 15px 0;
  padding: 20px;
}
.form_element {
  margin: 10px;
}
.actions {
  display: flex;
  justify-content: right;
}
.add_element {
  text-align: center;
}
.add_element_action {
  display: flex;
  justify-content: right;
  padding: 0 10px 10px 0;
}